.classpath
.project
.settings/
target/
logs/
eclipse-local.bat
org.eclipse.jdt.core.prefs
org.eclipse.wst.common.component
org.eclipse.wst.common.project.facet.core.xml
/TODO.txt
/.DS_Store
